body {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}
