!!!
%html
  %head
    %link{:type => "text/css", :rel => "stylesheet", :href => "/bootstrap/css/bootstrap.css"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "/styles.css"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "/jquery-ui/css/ui-lightness/jquery-ui-1.10.3.custom.min.css"}
    %script{:type => "text/javascript", src:"https://code.jquery.com/jquery.js"}
    %script{:type => "text/javascript", src:"/bootstrap/js/bootstrap.js"}
    %script{:type => "text/javascript", src:"/jquery-ui/js/jquery-1.9.1.js"}
    %script{:type => "text/javascript", src:"/jquery-ui/js/jquery-ui-1.10.3.custom.min.js"}
    %script{:type => "text/javascript", src:"/d3.v3/d3.v3.js"}
    %title Rails Girls Wellington
  %body
    .container
      %nav.navbar.navbar-default.navbar-fixed-top
        %a(href="/" class="navbar-brand") Rails Girls Wellington
        %ul.nav.navbar-nav
          %li
            %a(href="#") Preparation
          %li
            %a(href="#") Saturday
          %li
            %a(href="#") Sunday
          %li
            %a(href="#") Beyond
      = yield
    %script{:type => "text/javascript", src:"/application.js"}